/* General */
body {
    margin: 0;
    padding: 0;

    font-family: 'K2D', sans-serif;
}

h1 {
    text-align: center;
    font-size: 36px;
}
/* Layaout */
.grid {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-column-gap: 20px;
}

#tetris {
    grid-column-start: 2;
    grid-column-end: 3;

    justify-self: center; 
}

.sidebar-right {
    grid-column-start: 3;
    grid-column-end: 4;
}

/*Main block*/

canvas {
    border-radius: 10px;
}

/*Score block*/
span {
    font-size: 14px;
    color: #000000;
    opacity: 0.4;

    margin-bottom: 10px;
}

#score, #pause, #reset, #other_piece {
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    display: block;
    border: 1px solid #333;
    border-radius: 10px;
}

.btn {
    margin-top: 15px;
    padding: 5px;

    width: 100%;
}

